<div class="auth-page">
  <div class="auth-page__content-block">
    <div class="auth-page__content-wrapper">
      <mat-tab-group class="auth-page__group" [selectedIndex]="tabIndex">
        <mat-tab label="English">
          <div class="auth-page__border-wrapper">
            <h2>
              Welcome to our Survey!
            </h2>
            <p>
              We are developing a new concept for our task management app by
              integrating tutorials directly into the app as interactive todo
              lists.
            </p>
            <p>
              Learning how to use a new app can be overwhelming, which is why
              we're creating a seamless learning experience. By integrating the
              tutorial as a todo list itself, we aim to make it easier and more
              engaging for you to get started.
            </p>
            <p>
              Your feedback is essential as we refine this concept. Rest assured
              that your responses will be kept confidential and anonymized
              according to our privacy policy.
            </p>
            <p>
              Thank you for joining us on this journey to explore new
              possibilities for app tutorials. Let's begin the survey and shape
              the future of our app together.
            </p>
          </div>

          <div class="auth-page__google-button-wrapper">
            <button
              mat-raised-button
              class="auth-page__google-button"
              (click)="signInEnglish()"
              color="primary"
            >
              Start Survey in English
            </button>
          </div>
        </mat-tab>
        <mat-tab label="Deutsch">
          <div class="auth-page__border-wrapper">
            <h2>Willkommen bei unserer Umfrage!</h2>
            <p>
              Wir entwickeln ein neues Konzept für unsere
              Aufgabenverwaltungs-App, indem wir Tutorials direkt in die App
              integrieren, und zwar als interaktive ToDo-Listen.
            </p>
            <p>
              Das Erlernen der Nutzung einer neuen App kann überwältigend sein.
              Daher schaffen wir ein nahtloses Lernerlebnis. Durch die
              Integration des Tutorials als ToDo-Liste selbst möchten wir Ihnen
              den Einstieg erleichtern und gleichzeitig ansprechender gestalten.
            </p>
            <p>
              Ihr Feedback ist für uns von entscheidender Bedeutung, während wir
              dieses Konzept verfeinern. Ihre Antworten werden gemäß unserer
              Datenschutzrichtlinie vertraulich behandelt und anonymisiert.
            </p>
            <p>
              Vielen Dank, dass Sie uns auf dieser Reise begleiten, um neue
              Möglichkeiten für App-Tutorials zu erkunden. Lassen Sie uns mit
              der Umfrage beginnen und gemeinsam die Zukunft unserer App
              gestalten.
            </p>
          </div>
          <div class="auth-page__google-button-wrapper">
            <button
              mat-raised-button
              class="auth-page__google-button"
              (click)="signInGerman()"
              color="accent"
            >
              Umfrage auf Deutsch Starten
            </button>
          </div>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>
