<h1 mat-dialog-title>{{ 'EDIT_TODO_LIST' | translate }}</h1>

<div class="toDo-edit">
  <mat-form-field appearance="fill">
    <mat-label>{{ 'TODO_LIST_NAME' | translate }}</mat-label>
    <input
      matInput
      [(ngModel)]="toDoList.name"
      (keydown.enter)="onSaveToDo()"
    />
  </mat-form-field>

  <button
    class="delete-list-button"
    mat-raised-button
    color="warn"
    (click)="removeToDoList()"
  >
    {{ 'DELETE_TODO_LIST' | translate }}
  </button>
</div>

<div mat-dialog-actions>
  <button mat-flat-button color="primary" (click)="onSaveToDo()">
    {{ 'SAVE' | translate }} <mat-icon>save</mat-icon>
  </button>
  <button mat-flat-button (click)="onNoClick()">
    {{ 'CLOSE' | translate }} <mat-icon>close</mat-icon>
  </button>
</div>
