<div
  class="tasks-container"
  cdkDropList
  [cdkDropListData]="toDos"
  (cdkDropListDropped)="drop($event)"
>
  <mat-card *ngFor="let toDo of toDos" [class.complete]="toDo.complete" cdkDrag>
    <div>
      <div>
        <mat-checkbox
          [checked]="toDo.complete"
          (change)="onCompleteChange(toDo, $event)"
        ></mat-checkbox>
      </div>

      <div>
        <h3>{{ toDo.task }}</h3>
        <h3 *ngIf="toDo.date" [style.color]="getDateColor(toDo.date)">{{ toDo.date | date: 'mediumDate' }}</h3>
      </div>
    </div>

    <div class="card-buttons">
      <button (click)="openEditToDoDialog(toDo)" mat-icon-button>
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="removeToDoFromList(toDo.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
