<app-layout [title]="'Terms & Conditions'">
  <mat-card class="data-privacy-text">
    <mat-card-header>
      <mat-card-title> Thank you for your participation in the following survey.</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <p>
          Your valuable feedback and insights are greatly appreciated. Your responses will contribute to our research and help us gain a better understanding of the topic. Your input plays a crucial role in improving our products/services, and we are grateful for your time and effort. If you have any further comments or suggestions, please feel free to share them. Once again, thank you for your participation!</p>
      </div>
    </mat-card-content>
  </mat-card>
  <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
</app-layout>
