<app-layout [title]="'Survey'">
  <mat-stepper [linear]="true" #stepper>
    <mat-step label="ToDo App experience">
      <!-- <form [formGroup]="firstFormGroup"> -->
      <ng-template matStepLabel>ToDo App</ng-template>
      <mat-card *ngFor="let question of surveyToDo" class="question">
        <mat-card-header>
          <mat-card-title>
            {{ question.question }}
          </mat-card-title>
          <mat-card-subtitle *ngIf="question.hint !== undefined">
            {{ question.hint }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="question.numericValue !== undefined">
            <!-- <div class="radio-button-values">
              <span>1</span>
              <span>2</span>
              <span>3</span>
              <span>4</span>
              <span>5</span>
            </div> -->
            <mat-radio-group
              class="example-full-width"
              aria-label="Select an option"
              [(ngModel)]="question.numericValue"
            >
              <mat-radio-button value="1">1</mat-radio-button>
              <mat-radio-button value="2">2</mat-radio-button>
              <mat-radio-button value="3">3</mat-radio-button>
              <mat-radio-button value="4">4</mat-radio-button>
              <mat-radio-button value="5">5</mat-radio-button>
            </mat-radio-group>

            <br />
            <mat-hint
              class="invalid"
              *ngIf="submittedToDo && question.numericValue === 0"
            >
              Please select a value
            </mat-hint>
          </div>
          <div *ngIf="question.textValue !== undefined">
            <mat-form-field class="example-full-width">
              <textarea matInput [(ngModel)]="question.textValue"></textarea>
            </mat-form-field>
          </div>
          <div *ngIf="question.selectValue !== undefined">
            <mat-select [(ngModel)]="question.selectValue" name="food">
              <mat-option
                *ngFor="let option of question.options"
                [value]="option"
              >
                {{ option }}
              </mat-option>
            </mat-select>
          </div>
        </mat-card-content>
      </mat-card>
      <div>
        <button
          class="example-full-width"
          mat-raised-button
          color="primary"
          (click)="submitToDo()"
          matStepperNext
        >
          Next
        </button>
      </div>
    </mat-step>
    <mat-step label="Details">
      <ng-template matStepLabel>Details</ng-template>
      <mat-card *ngFor="let question of surveyDetails" class="question">
        <mat-card-header>
          <mat-card-title>
            {{ question.question }}
          </mat-card-title>
          <mat-card-subtitle *ngIf="question.hint !== undefined">
            {{ question.hint }}
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="question.numericValue !== undefined">
            <!-- <div class="radio-button-values">
              <span>1</span>
              <span>2</span>
              <span>3</span>
              <span>4</span>
              <span>5</span>
            </div> -->
            <mat-radio-group
              class="example-full-width"
              aria-label="Select an option"
              [(ngModel)]="question.numericValue"
            >
              <mat-radio-button value="1">1</mat-radio-button>
              <mat-radio-button value="2">2</mat-radio-button>
              <mat-radio-button value="3">3</mat-radio-button>
              <mat-radio-button value="4">4</mat-radio-button>
              <mat-radio-button value="5">5</mat-radio-button>
            </mat-radio-group>

            <br />
            <mat-hint
              class="invalid"
              *ngIf="submittedToDo && question.numericValue === 0"
            >
              Please select a value
            </mat-hint>
          </div>
          <div *ngIf="question.textValue !== undefined">
            <mat-form-field class="example-full-width">
              <textarea matInput [(ngModel)]="question.textValue"></textarea>
            </mat-form-field>
          </div>
          <div *ngIf="question.selectValue !== undefined">
            <mat-form-field class="example-full-width">
              <mat-select [(ngModel)]="question.selectValue" name="food">
                <mat-option
                  *ngFor="let option of question.options"
                  [value]="option"
                >
                  {{ option }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <br />
            <mat-hint
              class="invalid"
              *ngIf="submittedDetails && question.selectValue === ''"
            >
              Please select a value
            </mat-hint>
          </div>
        </mat-card-content>
      </mat-card>
      <div>
        <button
          class="example-full-width"
          mat-raised-button
          (click)="submitDetails()"
        >
          Next
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</app-layout>
