<app-main-header
  (isShowSidebar)="sidenav.toggle($event)"
  [isMenuOpened]="isShowSidebar"
  [title]="title"
  [toggleDarkMode]="toggleDark"
  (toggleDarkLight)="toggleDark = !toggleDark"
></app-main-header>

<!-- <div [class]="toggleDark ? 'dark' : ''">
  <ng-content ></ng-content>
</div> -->
<mat-sidenav-container class="layout" [class]="toggleDark ? 'dark' : ''" >
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="isShowSidebar"
    class="layout-sidebar"
    [mode]="getMode()"
    [fixedInViewport]="false"
  >
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content class="layout-content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
