<app-layout [title]="'Terms & Conditions'">
  <mat-card class="data-privacy-text">
    <mat-card-header>
      <mat-card-title> Privacy Policy </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <p>
          Thank you for using our app. Your privacy is important to us, and we
          want to explain how we handle your personal data through this Privacy
          Policy. Please read the following information carefully:
        </p>
        <ol>
          <li>
            <p>
              Collected Data: When using our app, certain data may be collected
              to provide the app&apos;s features and services. This includes
              information such as your tasks, settings, and preferences that you
              provide within the app. This data is stored on your device and is
              not shared with third parties.
            </p>
          </li>
          <li>
            <p>
              Use of Data: The collected data is solely used to provide and
              improve the app&apos;s features. We do not use your data for
              advertising purposes or share it with third parties unless
              required to comply with legal obligations.
            </p>
          </li>
          <li>
            <p>
              Data Security: We implement reasonable security measures to
              protect your data from unauthorized access, loss, or misuse. We
              use encrypted connections and store your data on secure servers.
            </p>
          </li>
          <li>
            <p>
              Data Retention: Your data is stored for the period necessary to
              fulfill the purposes stated in this Privacy Policy. After this
              period, your data will be securely deleted.
            </p>
          </li>
          <li>
            <p>
              External Links: Our app may contain links to external websites or
              services over which we have no control. Please note that this
              Privacy Policy only applies to our app. When you click on external
              links, the privacy policies of the respective websites or services
              will apply.
            </p>
          </li>
          <li>
            <p>
              Changes to the Privacy Policy: We reserve the right to modify this
              Privacy Policy at any time. We will notify you of significant
              changes through a notification within the app. Please review the
              Privacy Policy periodically to stay informed.
            </p>
          </li>
          <li>
            <p>
              Your Rights: You have the right to access, correct, or delete your
              personal data. If you have any questions regarding your rights or
              the use of your data, please contact us using the contact
              information provided below.
            </p>
          </li>
        </ol>
        <p>By using our app, you agree to the terms of this Privacy Policy.</p>
      </div>
      <!-- <ng-template>
        <p>
          Vielen Dank f&uuml;r Ihr Interesse an unserer Studie. Bevor Sie
          fortfahren, m&ouml;chten wir Sie &uuml;ber die
          Datenschutz&shy;praktiken informieren, die w&auml;hrend dieser
          Forschung befolgt werden. Bitte lesen Sie die folgende Erkl&auml;rung
          sorgf&auml;ltig durch:
        </p>
        <ol>
          <li>
            <p>
              Zweck der Studie: Der Zweck dieser Studie besteht darin, die
              Auswirkungen des Dark Mode auf die Benutzer&shy;erfahrung von
              mobilen Anwendungen zu untersuchen. Die erhobenen Daten werden
              ausschlie&szlig;lich f&uuml;r Forschungs&shy;zwecke verwendet.
            </p>
          </li>
          <li>
            <p>
              Datenerhebung: W&auml;hrend der Studie werden verschiedene Arten
              von Daten erhoben, einschlie&szlig;lich Ihrer Interaktionen mit
              der mobilen Anwendung, der Zeit zur Aufgaben&shy;erf&uuml;llung
              und etwaigem Feedback, das Sie geben. Diese Daten werden
              anonymisiert und sicher gespeichert, um die Vertraulichkeit zu
              gew&auml;hrleisten.
            </p>
          </li>
          <li>
            <p>
              Vertraulichkeit: Alle erhobenen Daten werden vertraulich behandelt
              und sicher gespeichert. Nur autorisierte Forscher haben Zugriff
              auf die Daten, und sie werden ausschlie&szlig;lich f&uuml;r die
              Zwecke dieser Studie verwendet.
            </p>
          </li>
          <li>
            <p>
              Anonymit&auml;t: Um Ihre Privatsph&auml;re zu sch&uuml;tzen,
              werden alle pers&ouml;nlich identifizierbaren Informationen aus
              den erhobenen Daten entfernt. Ihre Teilnahme an dieser Studie
              bleibt anonym, und Ihre Identit&auml;t wird in
              Forschungs&shy;ergebnissen oder Ver&ouml;ffentlichungen nicht
              offengelegt.
            </p>
          </li>
          <li>
            <p>
              Datenspeicherung: Die erhobenen Daten werden f&uuml;r den zur
              Durchf&uuml;hrung der Studie erforderlichen Zeitraum gespeichert
              und k&ouml;nnen sicher f&uuml;r zuk&uuml;nftige Referenzen
              aufbewahrt werden. Nach Ablauf der Aufbewahrungsfrist werden alle
              Daten sicher gel&ouml;scht.
            </p>
          </li>
          <li>
            <p>
              Freiwillige Teilnahme: Ihre Teilnahme an dieser Studie ist
              freiwillig. Sie haben das Recht, Ihre Einwilligung zu widerrufen
              und die Teilnahme jederzeit ohne Angabe von Gr&uuml;nden
              abzubrechen. Ein Widerruf hat keine negativen Konsequenzen.
            </p>
          </li>
          <li>
            <p>
              Ethik und rechtliche Bestimmungen: Diese Studie wird in
              &Uuml;bereinstimmung mit geltenden Datenschutz&shy;gesetzen und
              ethischen Richtlinien durchgef&uuml;hrt. Ihre Rechte als
              Teilnehmer werden w&auml;hrend der Studie respektiert.
            </p>
          </li>
        </ol>
        <p>
          Indem Sie mit dieser Studie fortfahren, best&auml;tigen Sie, dass Sie
          diese Datenschutz&shy;erkl&auml;rung gelesen und verstanden haben. Sie
          stimmen der Erhebung, Speicherung und Verarbeitung Ihrer Daten
          gem&auml;&szlig; den oben beschriebenen Bestimmungen zu. Wenn Sie
          Bedenken oder Fragen zum Datenschutz haben, wenden Sie sich bitte an
          [Kontaktinformationen].
        </p>
        <p>
          Bitte w&auml;hlen Sie &quot;Ich stimme zu&quot;, um Ihre Zustimmung zu
          best&auml;tigen und mit der Studie fortzufahren.
        </p>
      </ng-template> -->
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary" (click)="acceptPolicy()">
        Accept <mat-icon>check</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
</app-layout>
